exact-workflow.json
{
  "name": "Autoblog SEO Universo Merchan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "1",
      "name": "Diario 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [ 200, 300 ]
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Actúa como un experto consultor SEO B2B especializado en regalos de empresa y merchandising corporativo para España. Devuelve la salida obligatoriamente en formato JSON."
            },
            {
              "role": "user",
              "content": "Escribe un artículo para el blog de 'Universo Merchan'. Genera un JSON con: 'title', 'excerpt', 'body' (HTML con <h2> y <strong> de 800 palabras enfocadas a SEO), 'metaTitle', 'metaDescription', y 'featuredImageUrl' usando la URL string: 'https://source.unsplash.com/1200x800/?business,marketing,office,merchandise'."
            }
          ]
        }
      },
      "id": "2",
      "name": "Generador SEO",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [ 400, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universomerchan.com/api/webhooks/n8n-blog",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer n8n_super_secret_universe_123!"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "title", "value": "={{$json.message.content.title}}" },
            { "name": "excerpt", "value": "={{$json.message.content.excerpt}}" },
            { "name": "body", "value": "={{$json.message.content.body}}" },
            { "name": "metaTitle", "value": "={{$json.message.content.metaTitle}}" },
            { "name": "metaDescription", "value": "={{$json.message.content.metaDescription}}" },
            { "name": "featuredImageUrl", "value": "={{$json.message.content.featuredImageUrl}}" },
            { "name": "authorName", "value": "Robot SEO" }
          ]
        },
        "options": {}
      },
      "id": "3",
      "name": "Publicar en Next.js",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 600, 300 ]
    }
  ],
  "pinData": {},
  "connections": {
    "Diario 09:00": {
      "main": [
        [
          {
            "node": "Generador SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador SEO": {
      "main": [
        [
          {
            "node": "Publicar en Next.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1b0fe3a-14db-40a2-afb2-3b092301f2f3"
}
