n8n-clean.json
{
  "name": "Autoblog SEO Universo Merchan Final",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Diario 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Actúa como un experto SEO especializado en regalos de empresa para España. Devuelve la salida en formato JSON válido."
            },
            {
              "role": "user",
              "content": "Escribe un artículo para el blog de Universo Merchan. Genera un JSON EXACTO con las claves: 'title' (titular SEO), 'excerpt' (2 líneas), 'body' (contenido HTML con <h2> de 600 palabras), 'metaTitle' (60 chars), 'metaDescription' (155 chars) y 'featuredImageUrl' (usa 'https://source.unsplash.com/1200x800/?business,merchandise')."
            }
          ]
        }
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universomerchan.com/api/webhooks/n8n-blog",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer n8n_super_secret_universe_123!"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "title", "value": "={{JSON.parse($json.message.content).title}}" },
            { "name": "excerpt", "value": "={{JSON.parse($json.message.content).excerpt}}" },
            { "name": "body", "value": "={{JSON.parse($json.message.content).body}}" },
            { "name": "metaTitle", "value": "={{JSON.parse($json.message.content).metaTitle}}" },
            { "name": "metaDescription", "value": "={{JSON.parse($json.message.content).metaDescription}}" },
            { "name": "featuredImageUrl", "value": "={{JSON.parse($json.message.content).featuredImageUrl}}" },
            { "name": "authorName", "value": "Robot SEO" }
          ]
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 500, 300 ]
    }
  ],
  "connections": {
    "Diario 09:00": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
