workflow.json
{
  "name": "Autoblog SEO Universo Merchan",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Diario 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [ 200, 300 ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "role": "system",
              "content": "Actúa como un experto consultor SEO especializado en regalos de empresa y merchandising corporativo para España. Devuelve la salida obligatoriamente en formato JSON válido."
            },
            {
              "role": "user",
              "content": "Escribe un artículo B2B persuasivo para el blog de 'Universo Merchan'. Genera un objeto JSON EXACTAMENTE con estas claves: 'title' (titular clickbait y SEO), 'excerpt' (resumen de 2 líneas), 'body' (contenido formateado en HTML limpio usando h2, ul, li y strong, alrededor de 600 palabras), 'metaTitle' (max 60 chars), 'metaDescription' (max 155 chars), y 'featuredImageUrl' (usa un string aleatorio de foto corporativa usando 'https://source.unsplash.com/1200x800/?business,marketing,merchandise,office')."
            }
          ]
        }
      },
      "name": "Generador SEO",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [ 400, 300 ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "title", "value": "={{JSON.parse($json.message.content).title}}" },
            { "name": "excerpt", "value": "={{JSON.parse($json.message.content).excerpt}}" },
            { "name": "body", "value": "={{JSON.parse($json.message.content).body}}" },
            { "name": "metaTitle", "value": "={{JSON.parse($json.message.content).metaTitle}}" },
            { "name": "metaDescription", "value": "={{JSON.parse($json.message.content).metaDescription}}" },
            { "name": "featuredImageUrl", "value": "={{JSON.parse($json.message.content).featuredImageUrl}}" },
            { "name": "authorName", "value": "Robot SEO" }
          ]
        },
        "options": {}
      },
      "name": "JSON Parser",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [ 600, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://universomerchan.com/api/webhooks/n8n-blog",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer n8n_super_secret_universe_123!"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "title", "value": "={{$json.title}}" },
            { "name": "excerpt", "value": "={{$json.excerpt}}" },
            { "name": "body", "value": "={{$json.body}}" },
            { "name": "metaTitle", "value": "={{$json.metaTitle}}" },
            { "name": "metaDescription", "value": "={{$json.metaDescription}}" },
            { "name": "featuredImageUrl", "value": "={{$json.featuredImageUrl}}" },
            { "name": "authorName", "value": "={{$json.authorName}}" }
          ]
        },
        "options": {}
      },
      "name": "Publicar en Next.js",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 800, 300 ]
    }
  ],
  "connections": {
    "Diario 09:00": {
      "main": [
        [
          {
            "node": "Generador SEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generador SEO": {
      "main": [
        [
          {
            "node": "JSON Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Parser": {
      "main": [
        [
          {
            "node": "Publicar en Next.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
